/* =============================================================================
   Site CSS
   ========================================================================== */

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.5 'Monda', Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #004785;
  /*background-attachment: fixed !important;*/
  /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004085), color-stop(100%, #004785));*/
  /*background: -webkit-linear-gradient(#004085, #004785);*/
  /*background: -moz-linear-gradient(#004085, #004785);*/
  /*background: -o-linear-gradient(#004085, #004785);*/
  /*background: -ms-linear-gradient(#004085, #004785);*/
  /*background: linear-gradient(#004085, #004785);*/
}

h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: 'Shadows Into Light', Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

h4, h5, h6 {
  color: #e8e8e8;
}

h3 {
  font-size: 26px;
  line-height: 24px;
  /*font-family: 'Shadows Into Light', cursive, Arial, sans-serif !important;*/
  /*font-weight: normal;*/
  color: #b6b6b6;
}

a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #ffeb9b;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../images/bullet.png");
}

/*strong {*/
/*  font-family: 'Juru', Arial, sans-serif;*/
/*}*/

.wrapper {
  background: transparent url("../images/stone_crab.png") no-repeat center center;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  padding: 90px 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  color: #b6b6b6;
  /*font-family: 'Juru', Arial, sans-serif !important;*/
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url("../images/hr.gif") center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #F0E7D5;
  /*font-family: 'Juru', Arial, sans-serif !important;*/
  font-weight: normal;
}

#header {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
#header nav {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 10px;
  background: blue;
  margin: 6px auto;
}
#header nav li {
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
#header nav li a {
  color: white;
  border: 1px solid #5d910b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
  background: -webkit-linear-gradient(#93bd20, #659e10);
  background: -moz-linear-gradient(#93bd20, #659e10);
  background: -o-linear-gradient(#93bd20, #659e10);
  background: -ms-linear-gradient(#93bd20, #659e10);
  background: linear-gradient(#93bd20, #659e10);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  background-color: #93bd20;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
#header nav li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
  background: -webkit-linear-gradient(#749619, #527f0e);
  background: -moz-linear-gradient(#749619, #527f0e);
  background: -o-linear-gradient(#749619, #527f0e);
  background: -ms-linear-gradient(#749619, #527f0e);
  background: linear-gradient(#749619, #527f0e);
  background-color: #659e10;
  border: 1px solid #527f0e;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}
#header nav li.fork {
  float: left;
  margin-left: 0px;
}
#header nav li.downloads {
  float: right;
  margin-left: 6px;
}
#header nav li.title {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}

section {
  /*max-width: 650px;*/
  /*padding: 30px 0px 50px 0px;*/
  /*margin: 20px 0;*/
  /*margin-top: 70px;*/
  /*text-align: center;*/
}

section #title {
  border: 0;
  outline: none;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}
section #title h1 {
  font-family: 'Shadows Into Light', cursive, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}
section #title p {
  color: #d7cfbe;
  font-family: 'Shadows Into Light', cursive, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

section #links p {
  color: #d7cfbe;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

#footer {
  text-align: center;
}

@media print, screen and (max-width: 720px) {
  #title .credits {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
  }
  #title .credits .left {
    float: none;
    display: block;
  }
  #title .credits .right {
    float: none;
    display: block;
  }
}
@media print, screen and (max-width: 480px) {
  #header {
    margin-top: -20px;
  }

  section {
    /*margin-top: 40px;*/
  }

  nav {
    display: none;
  }
}

.credits {
  font-size: 11px;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}
.credits.left {
  float: left;
}
.credits.right {
  float: right;
}



.parallax {
     /* Set a specific height */
     min-height: 500px;
  /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.parallax.img0 {
  background-image: url(/images/photo/parallax0.png);
}
.parallax.img1 {
   background-image: url(/images/photo/parallax1.jpg);
}
.parallax.img2 {
   background-image: url(/images/photo/parallax2.jpg);
}
.parallax.img3 {
   background-image: url(/images/photo/parallax3.jpg);
}
.parallax.img4 {
  background-image: url(/images/photo/parallax4.jpg);
}
.parallax.img5 {
  background-image: url(/images/photo/parallax5.jpg);
}
.caption {
  /*position: absolute;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*color: #000;*/
  /*top: 215px;*/
  text-align: center;
  background-color: #282E34;
  padding: 50px 80px;
}
.caption .border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
/*.parallax.caption {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    color: #000;*/
/*    top: 215px;*/
/*}*/
/*.parallax.caption .border {*/
/*    background-color: #111;*/
/*    color: #fff;*/
/*    padding: 18px;*/
/*    font-size: 25px;*/
/*    letter-spacing: 10px;*/
/*}*/
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 540px) {
  .parallax {
    background-attachment: scroll;
  }
}
